/*
background: #02111D;  /* fallback for old browsers 
background: -webkit-linear-gradient(to top, #02111D, #037BB5, #02111D);  /* Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to top, #02111D, #037BB5, #02111D); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
*/

body{
    background:linear-gradient(rgba(6, 17, 97, 0.7), rgba(120, 2, 6, 0.78)), url("../SVGs/wavy.jpg"); background-repeat: no-repeat; background-size: cover;background-position: center; height: 768px;
    background-attachment: fixed;
}
#top-line{
    background-color: #42d385;
    height: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar{
    border: none;margin-bottom: 0px;margin-top:10px;
    position: fixed;
    width: 100%;
}
#up-down-nav{
    position: fixed;
    bottom:15px;
    right:15px;
    width:35px;
    z-index: 2;
}
#up-arrow-nav{
    position: relative;
    bottom: 10px;
}
#logo{
    height: 40px; 
    position:relative;
    float: left;
    top: -8px;
    left:-15px;
}
.navbar-right{font-size: 150%;margin-right:5%;}
.navbar-brand{
    margin-left: 10px !important;
}
#portfolio-title{
    position: relative;color: white; font-size: 40px;margin-left: 1%; float: left;font-family: 'Niconne', cursive;top:-40px;
    left: 30px;
}
#dp{
    border-radius: 50%;
    width: 150px;
    margin-top:50px;
}
#dp-container{
    text-align: center;
}
#nav-col{
    text-align: center;   
}
.navbar-default .navbar-nav>li>a{
    color: #b9c1c7;
}
.navbar-default .navbar-nav>li>a:hover{
    color: white;
}
.navbar-default{
    background-color: black;
}
#home-image{
    width: 25px;
    position: relative;
    top:-3px;
}
#main-heading{
    margin-top:5%;
}
#my-name{
    opacity: 1;
    margin-left:-1000px;
}
.list-group-item{
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 150%;
    list-style: none;
}
#desc{
    margin-top:2%;
}
.jumbotron{
    background-color: rgba(0,0,0,0);
    color: aliceblue;
}
#down-arrow{
    height: 60px;
    margin-top:4%;
    margin-bottom: 6%;
    opacity: 0;
    animation: bounce 2s ease-in-out infinite;
}
#arrow-container{
    text-align: center;
}
#landing-intro{
    margin-top: 2%;
    font-size: 150%;
    text-align: center;
    opacity: 0;
}
#lgi-1, #lgi-2, #lgi-3{
    opacity: 0;
}

/*Academics section.*/
#academics{
    background: linear-gradient(90deg,rgb(15, 12, 41),rgb(72, 64, 145),rgb(15, 12, 41));
}
#academic-data{
    margin-top:2%;
    margin-bottom: 10%;
    cursor: pointer;
}
#wrapper-academics{
    opacity: 0;
}
.list-group-item-heading small{
    font-size:15px;
}
.list-group-item-text{
    font-size:15px;
    font-style: italic;
}
#acad-graph-desc{
    font-size: 150%;
    color: aliceblue;

}
#acad-heading{
    text-align: center;
    color: azure;
    opacity:0;
    margin-top:45px;
    margin-bottom:2%;
}
#heading-row{
    padding:0px;
}
.panel{
    border: none;

}
.myDesc{
    background:  linear-gradient(90deg,rgba(15, 12, 41,0),rgba(48, 43, 99,0),rgba(15, 12, 41,0));
}
.myDesc .panel-body .h1{
    margin-top:-10px;
    color: bisque;
}
#intro{
    margin-top:-10px;
    color: bisque;
}
#i-like-these{
    margin-top:-65px;
    color: bisque;
}
.myDesc .panel-body h4{
    margin-top:-10px;
    color: whitesmoke;
    line-height: 95%;
    font-family: sans-serif;
}
#overview-data{
    background: rgba(0,0,0,0);
    font-size:59%;
    margin-top: -10px;
    border: none;
    font-family: cursive;
}
#overview-data .row{
    margin-top:2%;
}
#overview-data .row div{
    margin-top:4%;
    color: azure;
    float: right;
}
.glyphicon-hand-right{
    color: orange;
    font-size: 120%;
    float:left;
}
#edu-modal div button{
    margin-top:-50px;
}
/*Skills section*/
#skills{
    background-color: azure;
}
#skills .container-fluid{
    opacity: 0;
}
#skills-heading{
    text-align: center;
    margin-top: 45px;
}
.skill-pic{
    height: 350px;
}
#soft-skills-heading{
    margin-top: 45px;
    text-align: center;
}
.soft-skills-data{
    margin-top: 6%;
    margin-bottom: 10%;
}
.skills-data{
    margin-bottom: 4%;
}
.skill-label{
    text-align: center;
    margin-top:-20px;
}
.skills-data-row{
    margin-top:-10px;
}
.progress-bar{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 60%;
    padding-top: 5px;
}
.progress{
    height:30px;
    border-radius: 10px;
}
.skills-data-row div img:hover{
    box-shadow: 
}

/*Extra-curriculars section*/
#extra{
    background-color: #594f4f;
    padding-top: 30px;
}
#extra .container-fluid .row{
    margin-top: 3%;
    margin-bottom:4%;
    opacity: 0;
}
#row-extra .col-md-6{
    margin-left: 5%;
}

#achievements{
    padding-left: 3%;
}
#achievements #extra-curricular-heading{
    color: floralwhite;
    text-align: center;
}
#achievements h2{
    color: #e5fcc2;
}
#achievements ul{
    color:rgb(215, 206, 219);
    border-left-width: medium;
    border-left-style: dashed;
    border-color: bisque;
    padding-left: 5px;
}

#achievements ul li span{
    color:#ffc9de;
    font-size: 30px;
    margin-right: 20px;
    margin-left: -10px;
}
#projects{
    margin-left:1%;
}
@media only screen and (min-width: 1000px) {
    #projects{
        border-left-style: dotted;
        border-left-color: whitesmoke;
    }
}
#projects #projects-heading{
    text-align: center;
    color: floralwhite;
}
#projects .list-group{
    margin-top:20px;
}
#projects div a{
    background-color: #594f4f;
    margin-bottom: 50px;
}
#projects div a h2{
    color: #e5fcc2;

}
#projects div a p{
    color: #9de0ad;
    font-size:17px;
    padding-left:40px;
}
#more-projects-button-container{
    margin-top:30px;
    text-align: center;
}
/*Contact section*/
#contact{
    background: linear-gradient(#181818,#BA8B02);
}
#contact-heading{
    text-align: center;
    color: #ffe1f2;
    margin-top: 40px;
}
form{
    margin-top:30px;
    margin-bottom:10px;
    margin-left: 30px;
    margin-right: 30px;
}
#invite-text{
    margin-top: 2%;
    color: azure;
    resize: none;
    font-size:150%;
    margin-bottom: 5%;
    
}
#send-button{
    text-align: center;
    margin-bottom: 30px;
}
/*footer properties*/

footer{
    background-color: darkgray;
    color: rgba(0, 0, 0, 0.71);
}
footer .container-fluid .row div{
    text-align: center;
}
footer .container-fluid .row div h3{
    margin-top: 20px;
}
footer .container-fluid .row div img{
    height: 50px;
    margin-left: 1%;
    margin-top: 15px;
    margin-bottom: 30px;
}

/*Animations*/ }
}
@-webkit-keyframes bounce{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}
@keyframes bounce{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}